@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

img {
  width: 1.5rem;
  border-radius: 0.5rem;
}

nav li * {
  display: flex;
  gap: 3px;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
  nav li * {
    font-size: small;
    font-weight: 500;
  }
}

nav li span {
  font-size: small;
  font-weight: 500;
  margin-left: 2rem;
  opacity: 0.5;
}

li:hover {
  color: #e07b23;
}

input::placeholder {
  color: #202021;
}

div,
input {
  border-radius: 0.375rem;
}

button,
label {
  font-weight: 500;
}

label:not(input[type="radio"] + label) {
  font-size: 0.75rem;
}

tr th {
  border-bottom: solid 2px #f2f2f2;
  text-transform: uppercase;
}

td {
  border-bottom: solid 2px #f2f2f2;
  padding: 1rem;
}

tr {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: small;
  text-align: center;
}
