@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

img {
  width: 1.5rem;
  border-radius: 0.5rem;
}
nav {
  width: 190px;
}
nav li * {
  display: flex;
  gap: 3px;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
  nav {
    width: 100%;
  }
  nav li * {
    font-size: small;
    font-weight: 500;
  }
}

nav li span {
  font-size: small;
  font-weight: 500;
  margin-left: 1.75rem;
  opacity: 0.5;
}

input::placeholder {
  color: #5c5c5c;
}

div,
input {
  border-radius: 0.375rem;
}

input[type="radio"] {
  opacity: 0.011;
  z-index: 10;
}

input[type="radio"]:checked + label {
  background: #e07b23;
  color: white;
}

input[type="radio"] + label,
input[type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 32px;
  border: 1px solid #e07b23;
  padding: 0.25rem 0.5rem;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}

button,
label {
  font-weight: 500;
}

label:not(input[type="radio"] + label) {
  font-size: 0.75rem;
}

thead {
  font-size: small;
}
tr th {
  border-bottom: solid 2px #f2f2f2;
  text-transform: uppercase;
  text-align: left;
  padding: 0 1rem;
}

tr:nth-child(even) {
  background: #f2f2f2;
}
td {
  border-top: solid 2px #f2f2f2;
  padding: 1rem;
  text-align: left;
}

td button img {
  min-width: 22px;
}
@media only screen and (max-width: 640px) {
  th {
    font-size: 10px;
  }
  td {
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 1040px) {
  td {
    font-size: small;
  }
}
tr {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: small;
  text-align: center;
}
